<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card mt-3">
        <img
          class="card-img-top"
          src="https://placekitten.com/300/200"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Esto es una tarjeta de gato</h5>
          <p class="card-text">Esto es un gato que hace miau</p>
          <button
            type="button"
            id="miau"
            class="btn btn-primary"
            onclick="methods.doMeow()"
          >
            Haz miau
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
